#APPLE FILES
*.DS_Store

#temporary files
*.tmp

#object files
*.o

#swap files
*.swp

#text files
*.txt

#But do not ignore CMakeLists.txt
!CMakeLists.txt

#object files
objcs/

#build files
build/
build-mingw/

#tda old files
nt/tda/old_tda/old_N
#tda refinement
nt/tda/old_tda/refinement
#old layer stuff
nt/nn/old_layers
#old intrusive ptr files
nt/intrusive_ptr/old
nt/dtype/old
nt/images/old
old_tests/
nt/functional/cpu/matmult/miscellaneous
nt/functional/old
nt/fmri/tensor_files/making


#seperate testing files
files/

#testing development files
testing/

#backup files
*.bak

#the main test object
main

#outfiles
*.out
