#APPLE FILES
*.DS_Store

#temporary files
*.tmp

#object files
*.o

#swap files
*.swp

#text files
*.txt

#But do not ignore CMakeLists.txt
!CMakeLists.txt

#object files
objcs/

#build files
build/

#tda old files
src/tda/old_N
#tda refinement
src/tda/refinement
#old layer stuff
src/layers/old_layers
#old intrusive ptr files
src/intrusive_ptr/old
src/dtyp/old
old_tests/
src/functional/matmult/miscellaneous

#testing development files
testing/

#backup files
*.bak

#the main test object
main

#outfiles
*.out
