[submodule "third_party/tbb"]
	path = third_party/tbb
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "third_party/simde"]
	path = third_party/simde
	url = https://github.com/simd-everywhere/simde
[submodule "third_party/half"]
	path = third_party/half
	url = https://github.com/melowntech/half
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb

[submodule "third_party/matplot"]
	path = third_party/matplot
	url = https://github.com/alandefreitas/matplotplusplus
[submodule "third_party/nanoflann"]
	path = third_party/nanoflann
	url = https://github.com/jlblancoc/nanoflann
[submodule "third_party/uint128_t"]
	path = third_party/uint128_t
	url = https://github.com/calccrypto/uint128_t
[submodule "third_party/eigen"]
	path = third_party/eigen
    url = https://gitlab.com/libeigen/eigen.git
[submodule "src/nn/ncps"]
    path = nt/nn/ncps
    url = git@github.com:moldenha/NeuroTensor-NCPS.git
[submodule "third_party/nifti_clib"]
	path = third_party/nifti_clib
	url = https://github.com/NIFTI-Imaging/nifti_clib
[submodule "nt/reflection/named_parameters"]
	path = nt/reflection/named_parameters
	url = https://github.com/moldenha/named_parameters
